//- Basic template for every CustomInput. The `label`, `block`, `field`, `input`, and `hint` blocks
//- default to their corresponding mixins but can be overloaded at will.
include CustomInputMixins

div.field-component(
		:class="[`${uidPrefix}input`, validity, cfg.constraints && cfg.constraints.required ? 'required' : '']",
	)
	block label
		+label
	block field
		.field-container
			div.field(:class="{ focused, disabled, readonly }")
				+selected-items
				block input
				+tooltip
				+inline-label
			+after
	+errors
	block hint
		+hint
