//- Mixin for the main label of the field
mixin label
	label.label(:class="{ disabled, readonly }" :for="uid" v-if="cfg.label")
		| {{ cfg.translate ? $t(cfg.label) : cfg.label }}
		i.icon.help.circle.primary.text(v-if="cfg.help")
			tooltip.top
				| {{ cfg.translate ? $t(cfg.help) : cfg.help }}

mixin after
	slot(name="after")

//- Mixin for the label displayed lined up with the field
mixin inline-label
	label.inline-label(:for="uid" v-if="cfg.label")
		div {{ cfg.translate ? $t(cfg.label) : cfg.label }}

//- Mixin for the `hint` slot
mixin hint
	.hint(v-if="hasHint()")
		slot(name="hint")

//- Mixin for the tooltip
mixin tooltip
	tooltip(v-if="cfg.tooltip && cfg.tooltip.content !== ''" :class="cfg.tooltip.class")
		| {{ cfg.tooltip.content }}

mixin errors
	.constraint-error(v-if="validity == 'error'")
		| {{ validationMessage }}

//- Mixin for the collection of values entered/selected by the user
mixin selected-items
	template(v-if="multipleIsEnabled() && value !== undefined")
		selected-item(
			v-for="(selected, i) in value"
			:key="i"
			@remove="removeFromSelection(i)"
		)
			| {{ getValueText(selected) }}
