/*
---
name: Headings
category: Patterns
---

Main heading with dropdown menu on the right
```main-heading-types.html
<div class="heading">
    <div class="left items">
        <h2 class="title">
            <a><i class="icon long arrow left"></i> Résultats</a>
            <span class="separator"> <i class="icon chevron right"></i> </span>
            <span class="last">Exemple groupe Test Vidéo + Questionnaire <span class="id">1308</span></span>
        </h2>
    </div>
    <div class="right items">
        <div class="account">
            <img src="https://randomuser.me/api/portraits/women/79.jpg" alt="Avatar" class="avatar">
            <div class="meta">
                <div class="username">Julien L.</div>
                <div class="company">Le blog du modérateur</div>
            </div>

            <div class="sensitive">
                <div class="menu">
                    <div class="item">Paramètres</div>
                    <div class="item">Mon Espace testeur</div>
                    <div class="item">Sociétés</div>
                    <div class="item">Utilisateurs</div>
                    <div class="item red text">Déconnexion</div>
                </div>
            </div>
        </div>
    </div>
</div>
```

Secondary heading
```secondary-heading-types.html
<div class="heading secondary">
    <div class="left items">
        <h3 class="title">Synthèse des participants</h3>
    </div>
    <div class="right items">
        <a href="#" class="button"> Ajouter</a>
        <a href="#" class="button ghost"> Filtrer</a>
    </div>
</div>
```
*/

.heading {
	display: flex;
	justify-content: space-between;
	border-bottom: $heading-border;
	background: $heading-bg;

	&:not(.secondary) {
		@include z-index(topHeading);
	}

	&.secondary {
		border: none;
		background: none;

		.title {
			font-size: 1.15rem;

			>a:first-child {
				margin-right: math.div($padding, 4);
			}

			.icon.arrow.left {
				margin-right: math.div($padding, 3);
			}
		}

		&.alt {
			padding: $padding 0 0 0;
		}
	}

	.title {
		position: relative;
		font-size: 1.3rem;
		font-weight: 500;
		display: inline-flex;
		align-items: baseline;

		.separator {
			.icon {
				width: 2em;
				vertical-align: text-bottom;
				font-size: inherit;
			}
		}

		.last {
			.icon {
				font-size: 1.3rem;
				margin-left: math.div($padding, 2);

				&:not(:first-of-type) {
					margin-left: math.div($padding, 4);
					margin-right: math.div($padding, 2);
				}
			}

			.label {
				position: absolute;
				display: inline-table;
			}
		}



	}

	&:not(.secondary) .item {
		align-self: center;
		display: flex;
		align-items: center;

		@include tablet-and-under {
			flex: 0 100%;
		}

		&:not(#user-menu) {
			padding: $padding;
		}
	}
}
