//@import "icons/_icons-codes";

i.icon {

	&.comment::before {
		vertical-align: sub;
	}

	&.small:not(.button) {
		font-size: 1rem;
	}

	&.large:not(.button) {
		font-size: 2rem;
	}

	&.big:not(.button) {
		font-size: 2.5rem;
	}

	&.huge:not(.button) {
		font-size: 3rem;
	}

	&.severity {
		&.critical {
			color: $red;
		}

		/*Why so */&.serious {
			color: $orange;
		}

		&.minor {
			color: $yellow;
		}

	}

	&.disc {
		font-size: 1em;
		height: auto;
		width: auto;

		&::before {
			content: '\2B24';
			display: inline-block;
			line-height: normal;
			margin-top: -2px;
			margin-bottom: 2px;
		}

		@each $swatch, $color in $swatch {
			&.#{$swatch} {
				color: $color;
			}
		}
	}
}
