@use "sass:math";

$dark-theme: false !default;

// Colors
$primary-color: #585afa;
$secondary-color: #cacccf;

$blue: #2d80f7;
$yellow: #FDC84A;
$orange: #fba44b;
$pink: #fd6cb4;
$red: #fb4f68;
$green: #0CA83B;
$sea-green: #1f7553;
$grey: #cacccf;
$light-grey: #f9fbfe;
$dark-grey: #797b7e;
$black: #212152;
$purple: #8161ca;
$white: #ffffff;

$info: $blue;
$error: $red;
$success: $green;
$warning: $yellow;
$mail: $blue;

$facebook: #3b5998;
$linkedin: #0077B5;
$google: #dd4b39;
//$twitter: #00aced;

$text-color: $black;
$text-muted: scale-color($text-color, $lightness: 40%, $saturation: -71%);
$link-color: $primary-color;

$default-color: $primary-color;
$background-color: #f5f7ff;
$menu-background-color: scale-color($primary-color, $lightness: -76%, $saturation: -73%);
$heading-bg: $white;
$hovered-item-bg: rgba($primary-color, .11);

@if $dark-theme {
	$primary-color: scale-color($primary-color, $lightness: 10%);
	$secondary-color: #cacccf;

	$blue: #2d80f7;
	$yellow: #FDC84A;
	$orange: #fba44b;
	$red: #fb4f68;
	$green: #0CA83B;
	$sea-green: #1f7553;
	$grey: scale-color($grey, $lightness: -80%);
	;
	$light-grey: scale-color($light-grey, $lightness: -80%);
	$black: #ffffff;
	$purple: #8161ca;
	$white: scale_color($primary-color, $lightness: -85%, $saturation: 90%);

	$info: $blue;
	$error: $red;
	$success: $green;
	$warning: $yellow;
	$mail: $blue;

	$facebook: #3b5998;
	$linkedin: #0077B5;
	$google: #dd4b39;

	$text-color: scale-color($black, $lightness: -15%);
	$text-muted: scale-color($text-color, $lightness: 40%, $saturation: -71%);
	$link-color: $primary-color;

	$default-color: $primary-color;
	$background-color: #1e1f23;
	$menu-background-color: #343642;
}

// Adding new color will create new components with the color property (buttons, labels, segments & text colors...)
$swatch: ('primary', $primary-color),
('secondary', $secondary-color),
('blue', $blue),
('yellow', $yellow),
('orange', $orange),
('pink', $pink),
('red', $red),
('green', $green),
('sea-green', $sea-green),
('black', $black),
('grey', $grey),
('light-grey', $light-grey),
('dark-grey', $dark-grey),
('purple', $purple),
('white', $white),
('info', $info),
('error', $error),
('success', $success),
('warning', $warning),
('mail', $mail),
('facebook', $facebook),
('linkedin', $linkedin),
('google', $google);

// Font family (AZO for titles & Roboto for base text)
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic&subset=latin');
@import url("https://use.typekit.net/vwt2lur.css"); // 'azo-sans-web' from typekit --> 700,500,400 - https://fonts.adobe.com/my_fonts#web_projects-section
$body-font: 'Roboto',
sans-serif;
$header-font: 'azo-sans-web',
sans-serif;
$base-font-size: .95rem;
$base-line-height: 1.4;

$sidebar-font-size: .85rem;

// Global margin & padding (1 variable to control them all !)
$padding: 1.5rem;

// Transitions
$fast-speed: 0.18s cubic-bezier(0.4, 0, 0.2, 1);
$normal-speed: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
$slow-speed: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
$slowest-speed: 0.75s cubic-bezier(0.4, 0, 0.2, 1);

// Shadows
$base-shadow: 0 5px 25px rgba(0, 0, 0, .1),
0 2px 8px rgba(0, 0, 0, .08);
$hover-shadow: 0 12px 35px 0px rgba(0, 0, 0, 0.19),
0 2px 4px 0px rgba(0, 0, 0, 0.14);
$selected-shadow: 0 12px 46px rgba(0, 0, 0, 0.25),
0 18px 40px rgba(0, 0, 0, 0.19);
$solid-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);

//Radius corners
$small-radius: 2px;
$radius: 4px;
$large-radius: 6px;
$rounded: 99rem;

// Borders
$border-width: 1px;
$border-width-focused: 3px;
$border-color: rgba($primary-color, .2);
$button-border-width: 2px;
$flat-border: 0 0 0 $border-width rgba(0, 0, 0, 0.13) inset;
$heading-border: $border-width solid $border-color;

@if $dark-theme {
	$border-color: rgba(255, 255, 255, .2);
	$form-elements-border: $border-width solid rgba($primary-color, .4);
	$flat-border: 0 0 0 $border-width rgba(0, 0, 0, 0.13) inset;
}

// Breakpoints
$mobile: 576px !default; // @include mobile
$tablet: 768px !default; // @include tablet // @include mobileAndUnder
$desktop: 960px !default; // @include desktop // @include desktop-and-under
$desktop-xl: 1100px !default; // @include desktop-xl

// Grid & Sidebars
$sidebar-width: 250px;
$container-width: 75vw;
$text-container-width: 780px;
$wides: one two three four five six seven eight nine ten eleven twelve;
$min-tablet-width: $mobile;
$min-desktop-width: $tablet;

// Z-Index
// EX : @include z-index(modal);
$z-index: (invisible: -1,
	base: 0,
	raisedElement: 10,
	selectize : 99,
	topElement: 100,
	navigation : 101,
	topHeading : 102,
	modal : 103,
	loader: 104,
	topMessage: 105,
);

// Relative path to images
// EX : background: url('#{$url}bg-contact.svg');
$url: 'assets/img/';

// Fields & Inputs
$fields-padding: math.div($padding, 2.5);
$compact-fields-padding: math.div($padding, 5);
