@use "sass:math";
@import '@/styles/variables';
@import '@/styles/mixins';
@import '@/components/Inputs/TextInput/TextInputStyle';

@mixin selectInputProperties {
	@include textInputProperties;

	$pad-bot: $fields-padding - math.div($padding, 6);

	position: relative;

	&.focused {
		overflow-y: visible;
		@include z-index(selectize);

		.hint {
			visibility: hidden;
		}
	}

	.field {
		flex-wrap: nowrap;
		flex-direction: column;
		padding: $fields-padding 0 $pad-bot 0;

		&.focused {
			padding-bottom: 0;
		}

		.cs-input-container {
			display: flex;
			flex-wrap: wrap;
			padding: 0 $fields-padding;
		}

		.icon-container {
			margin: (- math.div($padding, 2.5)) (- math.div($padding, 2.5)) (-$pad-bot) 0;
			padding: math.div($padding, 2.5);
			background: $secondary-color;
			border-top-right-radius: $radius;
			border-bottom-right-radius: $radius;

			&.active {
				background: none;
			}

			i.icon.chevron {
				font-size: .8em;
			}
		}

		.cs-suggestions {
			.option {

				&:hover,
				&.focused {
					transition: background $normal-speed;
					color: $primary-color;
					background: $hovered-item-bg;
				}
			}
		}
	}

	&.compact {
		$padding-bottom: $compact-fields-padding - math.div($padding, 6);

		.icon-container {
			margin: (- math.div($padding, 2.5)) (- math.div($padding, 2.5)) (-$padding-bottom) 0;
		}
	}
}
